.videoPlayer {
  position: relative;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
    max-width: 100%;
  }
  .videoPlayer__time {
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
  }
  .videoPlayer__controls {
    // opacity: 0;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 9;
    bottom: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    font-size: 16px;
    .videoPlayer__column {
      width: 100%;
      display: table-cell;
      vertical-align: middle;

      &:first-child {
        grid-column: 1 / span 2;
        margin-bottom: 5px;

        input {
          -webkit-appearance: none;
          overflow: hidden;
          width: 100%;
          height: 4px;
          opacity: 1;
          background: transparent;
          cursor: pointer;
          background: #e5e4e3;
          border-radius: 0; /* iOS */
        }

        input:focus {
          outline: none;
        }

        input::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 0.1px;
          height: 20px;
          background: #fff;
          box-shadow: -100vw 0 0 100vw $red;
          cursor: pointer;
        }
      }
      > span:not(:last-child) {
        margin-right: 10px;
      }
      &:last-child {
        justify-self: right;
        text-align: right;
      }
      &:nth-child(1) {
        grid-column: 1 / span 2;
        &:hover {
          .videoPlayer__runningtime {
            -webkit-transition: height 0.25s;
            transition: height 0.25s;
            height: 10px;
          }
        }
      }
      &:nth-child(2) {
        display: flex;
        align-items: center;
      }
      .videoPlayer__volume-div {
        display: flex;
        align-items: center;
        &:hover {
          .videoPlayer__volume {
            width: 80px;
          }
        }
        #jsVolumeBtn {
          width: 40px;
        }
        .videoPlayer__volume {
          padding: 0;
          opacity: 1;
          transform: rotate(360deg);
          z-index: 10;
          // width: 80px;
          width: 0px;
          -webkit-appearance: none;
          overflow: hidden;
          background-color: $black;
          cursor: pointer;
          -webkit-transition: width 0.25s;
          transition: width 0.25s;

          &::-webkit-slider-runnable-track {
            color: whitesmoke;
            height: 10px;
          }
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 10px;
            height: 10px;
            background: #3498db;
            box-shadow: -10vw 0 0 10vw whitesmoke;
            cursor: pointer;
          }
        }
      }
    }

    .videoPlayer__runningtime {
      min-width: 100%;
      padding: 0;
      opacity: 1;
      transform: rotate(360deg);
      z-index: 10;
      height: 5px;
      -webkit-transition: height 0.25s;
      transition: height 0.25s;
    }

    i {
      font-size: 25px;
      cursor: pointer;
    }
  }
}
